@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:wght@200;300;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    font-family:'Raleway', 'Arial';
    font-weight: 400;
    overflow-x: hidden;
}

html, body{
    width:100%;
    height:100%;
}

.my-divs {
    width:100vw;
}

.main-menu{
    display:flex;
    align-items:center;
    padding:25px 2px 0px;
    position:absolute;
    justify-content:space-between;
    width:100%;
    height:auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.main-menu hr{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100vw;
    margin-top:20px;
    box-shadow:2px 2px 5px rgb(4, 4, 4, 0.4);
}

.main-menu img{
    margin-left:5px;
    width: 250px;
    padding-top:0;
}

#menu-txt a{
    color:rgb(255, 255, 255);
    margin:0 20px 0;
    font-size:17px;
    font-weight:400;
    text-decoration:none;
}


#menu-txt a:active {
    color:rgb(144, 105, 189);
    transform:scale(1.15);
}

/*SIDE-MENU*/
.popup-btn {
    border:none;
    background-color:transparent;
    cursor:pointer;
    font-size:20px;
    outline:none;
    display:none;
    color:black;
}

.open-btn {
    position:fixed;
    top:10px;
    right:400px;
    color:black;
} 

.popup{
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left:0;
    height:100%;
    transform:translateX(-100%);
    transition:transform 0.5s ease-in-out;
}

/*if there's a .visible class inside the .popup class*/

.popup.visible{
    transform:translateX(0);
}

.popup-light{
    background-color:rgba(255, 255, 255, 0.7);
    width:95%;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding-top:40px;
    position:fixed;
}

.popup-dark{
    background-color:rgba(255, 255, 255, 0.2);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:60%;
    max-width:480px;
    transition-delay:0.2s;
}

.close-btn{
    opacity:0.4;
    position:absolute;
    top:30px;
    left:120px;
}

.side-txt-list{
    list-style-type:none;
    padding:0;
}

.side-txt-list li{
    margin:20px;
}

.side-txt-list li a, .main-menu a{
    color:black;
    text-decoration:none;
    font-size:17px;
    font-weight:600;
    margin-left: 30px;
}

.side-txt-list li a:active, .main-menu a:active{
    color:rgb(179, 148, 215);
}

button:active{
    color:rgb(179, 148, 215);
}

/*DIV 1 START*/

#div1 {
    background-image:url(../mbalves-personalwebsite/img/computer.jpg);
    background-size: cover;
    background-repeat: no-repeat;    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding-bottom:100px;
}

#div1 h1 {
    color:white;
    text-align:center;
    font-weight: 400;
    margin:0 40px 30px;
    text-shadow:2px 3px 5px rgba(0, 0, 0, 0.5);
}


#div1 p {
    color:white;
    text-shadow:2px 3px 5px rgba(0, 0, 0, 0.5);
    line-height: 2;
    letter-spacing: 0.6px;
    font-size: 1.5rem;
    margin-bottom:30px;
    text-align:center;
}

#contact-me{
    border-style:none;
    background-color:black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
    width:30vw;
    margin-left:40px;
    
}

#contact-me:hover{
    border-style:none;
    background-color:rgb(179, 148, 215);
    width:30vw;
    margin-left:40px;
    transform:scale(1.15);
}

#contact-me a{
    color:white;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}
/*DIV 1 END*/

/*DIV 2 START*/

#div2 {
    padding-top: 120px;
}

#div2 div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:350px;
    margin-top:20px;
    margin-bottom:50px;
    border-color:rgb(144, 105, 189);
    border-style:double;
    border-width:0.7rem;

}

#div2 div h1 {
    color: rgb(144, 105, 189);
    margin: auto 30px;
    text-align:center;
    font-weight: 400;
}

#div2 div p {
    color: rgb(144, 105, 189);
    line-height: 2;
    letter-spacing: 0.5px;
    font-size: 1.2rem;
    font-size:16px;
    margin-left:30px;
    margin-bottom:70px;
    font-weight: 400;
}

/*DIV 2 END*/

/*DIV 3 START*/

#div3 {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    padding: 80px 30px 0px;
}

#skill_title h1, #other h1{
    font-weight: 400;
    color:rgb(144, 105, 189);
}

#skill_title, #other{
    width: 100%;
    padding: 50px;
}

.skills h3, .skills p{
    color:white;
    text-shadow: 2px 2px 2px rgba(26,25,25,0.5);
    font-weight: 400;
}

.skills h3, .skills p {
    margin-top: 20px;
}


.skills-wrap {
    display: inline;
}

.skills {
    background-color:rgb(32, 31, 31, 0.95);
    backdrop-filter:blur(2px);
    border-top:2px solid rgba(255, 255, 255, 0.7);
    box-shadow:3px 3px 7px rgb(0, 0, 0, 0.7);
    border-radius:15px;
    width: 30%;
    margin: 5px 5px 20px;
    padding: 25px;
    height: auto;
    display: inline-block;
}

.skills img {
    width: 50%;
    height: auto;
}

.other_wrap{
    display:inline;
}
.other_ul{
    display: inline-block;
    height:auto;
    width:70vw;
    padding:20px 10px 20px;
    margin-bottom:30px;
    background-color:rgb(32, 31, 31, 0.95);
    backdrop-filter:blur(2px);
    border-top:2px solid rgba(255, 255, 255, 0.7);
    box-shadow:3px 3px 7px rgb(0, 0, 0, 0.7);
    border-radius:15px;
    
}

.other_ul h3{
    color:white;
    font-size:20px;
    font-weight: 400;
}

.other_ul h4{
    color:white;
    font-size:18px;
}

.other_ul ul{
    color:white;
    font-size:16px;
}

.other_ul a{
    text-decoration:none;
    color:rgb(144, 105, 189);
    font-weight: 600;
}

.other_ul a:active{
    color:rgb(179, 148, 215);
}

hr{
    margin-top:50px;
}

/*DIV 3 END*/

/*DIV 4 START*/

#div4{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 120px 10% 0px;
}

#portfolio h1{
    color:rgb(144, 105, 189);
    margin-bottom:40px;
    font-weight: 400;
}

.portfolio-titles{
    margin-top:25px;
    color:rgb(144, 105, 189);
}

.portfolio-titles:active{
    color:rgb(179, 148, 215);
}

.portfolio-titles a{
    color:rgb(144, 105, 189);
    text-decoration:none;
    font-size:25px;
}

.portfolio-titles h4{
    color:rgb(144, 105, 189);
    text-shadow: 2px 2px 2px rgba(26,25,25,0.5);
    text-decoration:none;
    font-size:14px;
}

.portfolio-pics{
    background-color:rgba(246,244,244,0);
    margin-bottom:70px;
    transition:0.1;
 }

 .portfolio-pics img{
    box-shadow: 1px 1px 7px rgb(0, 0, 0, 0.2);
    width:700px;
 }

 .portfolio-pics:hover{
    box-shadow:2px 2px 7px white;
    background-color:rgba(255,255,255, 0.3);
    border-radius:5px;
    transform:scale(1.25);
    padding-bottom:20px;
   
 }

 .portfolio-pics img:hover{
    box-shadow:2px 2px 7px white;
    background-color:rgba(255,255,255, 0.3);
    box-shadow: 3px 3px 7px rgba(144, 105, 189);
    border-radius:5px;
 }
/*DIV 4 END*/

/*DIV 5 START*/
#div5{
    padding-top:120px;
    background-color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#div5 h1 {
    color:rgb(144, 105, 189);
    margin:15px;
    padding-bottom:30px;
    font-weight: 400;

}

#div5 p {
    font-size: 1.5rem;
}

.contacts h3{
    margin-top:25px;
    font-weight: 400;
}
.contacts p{
    font-size:1px;
    margin-bottom:30px;
}

.contacts a{
    text-decoration:none;
    color:rgb(144, 105, 189);
}

.contacts a:active{
    color:rgb(179, 148, 215);
}

#arrow5{
    margin:15rem;
}

/*DIV 5 END*/

/*MEDIA QUERY*/

@media(max-width: 600px) {
    .skills {
        width: 70vw;
    }

    #div1 h1 {
        font-size: 1.5rem
    }

}

@media(max-width: 450px) {
   #div2 div p {
       font-size: 1rem;
       line-height: 1.2;
   }
}


@media(max-width: 350px) {
    #div2 div p {
        font-size: 1rem;
        line-height: normal;
    }
 }

 
@media(min-width: 350px) and (max-width:800px) {
    .main-menu{
        display:none;
    }

    .popup-btn{
        display:block;
    }

    
    .open-btn{
        right:250px
    }
 }

 @media (min-width:500px) and (max-width:800px) {
    .open-btn{
        right:350px
    }
 }

 @media (min-width: 1000px) and (max-width:1024px){
    .text p{
        font-size:14px;
        width:20vw;
        text-align:center;
    }

    .portfolio-pics img{
        width:40%;
     }

     form input, form textarea, button {
        width: 80%;
    }

    .photo img{
        width:30vw;
    }
    
    .photo{
        margin-right:60px;
    }
    .container{
        margin-right:100px;
    }

    .container text{
        padding-right:350px;
    }

 }


 @media (min-width: 420px) and (max-width:1000px){
    .text p{
        font-size:15px;
        width:30vw;
        text-align:center;
    }

    .portfolio-pics img{
        width:80%;
     }

     form input, form textarea, button {
        width: 80%;
    }

    
    .photo img{
        width:30vw;
    }
    
    .photo{
        margin-right:60px;
    }
    .container{
        margin-right:200px;
    }

    .container text{
        padding-right:350px;
    }
 }

@media (min-width: 280px) and (max-width:420px){
    .text p{
        font-size:11px;
        width:20vw;
        text-align:center;
    }

    .portfolio-pics img{
        width:80%;
     }

     form input, form textarea, button {
        width: 80%;
    }

    .photo img{
        width:40vw;
    }
    
    .photo{
        margin-right:60px;
    }
    .container{
        margin-right:100px;
    }

    .container text{
        padding-right:350px;
    }

    #hire{
        width:60vw;
    }
    #hire:hover{
        width:60vw;
    }
 }